.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  width: 150px;
  height: auto;
  font-size: xx-large;
}
button:hover {
  cursor: pointer;
}

.selection {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  font-size: 50px;
  border: none;
  outline: none;
  background: none;
}
