.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  width: 150px;
  height: auto;
  font-size: xx-large;
}
button:hover {
  cursor: pointer;
}

.selection {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  font-size: 50px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 500ms;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection:hover {
  transform: scale(1.3);
}

.results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
